<mat-grid-list cols="5" rowHeight="60px">

  <mat-grid-tile>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </mat-grid-tile>

  <mat-grid-tile>
    <mat-slide-toggle id="toggleRooms" [checked]="toggleRooms" (change)="toggle($event)">More than 5 rooms
    </mat-slide-toggle>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-slide-toggle id="toggleHouses" [checked]="toggleHouses" (change)="toggle($event)">Close to sister house
    </mat-slide-toggle>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-slide-toggle id="toggleData" [checked]="toggleData" (change)="toggle($event)">Houses with incomplete data
    </mat-slide-toggle>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-slide-toggle id="toggleMove" [checked]="toggleMove" (change)="toggle($event)">Move to the house
    </mat-slide-toggle>
  </mat-grid-tile>
</mat-grid-list>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.location}} Km</mat-cell>
    </ng-container>
    <ng-container matColumnDef="rooms">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rooms</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.rooms}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.value}} $</mat-cell>
    </ng-container>
    <ng-container matColumnDef="street">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Street</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.street}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button>
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
    </mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
