<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>interfaceMA Houses</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
